
        /* Estilo del overlay */
        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 1060;
        }

        /* Estilo del modal */
        .modal-content {
            position: relative;
        }

        /* Estilo del GIF spinner */
        #spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }

        .cards tbody tr {
        float: left;
        width: 19rem;
        margin: 0.5rem;
        border: 0rem solid rgba(0, 0, 0, .125);
        border-radius: none;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
        }

        .cards tbody td {
        display: block;
        }

        .cards thead {
        display: none;
        }

        .cards td:before {
        content: attr(data-label);
        position: relative;
        float: left;
        color: #808080;
        min-width: 4rem;
        margin-left: 0;
        margin-right: 1rem;
        text-align: left;   
        }

        tr.selected td:before {
        color: #CCC;
        }

        .table .avatar {
        width: 50px;
        }

        .cards .avatar {
        width: 150px;
        height: 150px;
        margin: 15px;
        }

